body {
  margin: 0;
  padding: 0;
  font-family: "helvetica Neue", Helvetica;
  background-color: #89a5f1;
  font-family: "Playfair Display", serif;
}
h1 {
  text-align: center;
  letter-spacing: 1px;
  font-size: 35px;
  color: rgb(206, 4, 4);
}
.list-users {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.profile-card {
  border-radius: 5px;
  width: 800px;
  display: flex;
  margin: 15px;
  background: #020f55;
}
.profile-img {
  margin-right: 50px;
  padding: 10px;
}
.profile-img img {
  border-radius: 50%;
}
.adress span {
  margin-right: 7px;
}
h2 {
  font-weight: lighter;
  letter-spacing: 1px;
  color: #fabc98;
  font-size: 35px;
}
span,
.description {
  color: #9da8e2;
  font-size: 20px;
  letter-spacing: 1px;
}
.title {
  color: #c48a64;
  letter-spacing: 1px;
  font-weight: lighter;
  font-size: 17px;
}
.contact {
  padding-bottom: 10px;
}
